@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&family=Oswald:wght@200..700&family=Playwrite+DE+Grund:wght@100..400&display=swap');

.container3{
    min-height: max-content!important;
    width: 100%;
    margin-left: 2rem;
    align-items: left;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 8rem;
}
.favourite-item {
    position: relative;
    width: 370px;
    height: max-content !important;
    margin-left: 2rem;
    margin-top: 2rem;
    
    
}

.favourite-image {
    position: absolute;
    top: 1rem;
    width: 24rem;
    height: 24rem;
    background-color: grey;
    object-fit: cover;
    border: 0.5px solid rgba(193, 190, 190, 0.651); 
    background-color: grey;
    margin-right: 15px;
    
}

.namef { 
    font-size: 17px;
    color: black;
    font-weight: 520;
    margin-top: 25.5rem;
    
}
.pricef {
    
    font-size: 17px;
    font-weight: 520;
    position: absolute;
    color: black;
    top: 25.5rem;
    right: 0;
}
.categoryf {
    
    margin-top: -1rem;
    font-size: 16px;
    color: #444;
    
}
.removefav {
    position: absolute;
    top: 2rem;
    background-color: rgb(255, 255, 255);
    left: 20rem;
    border: none;
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
    border-radius:50%;
    transition: 0.3s;
}
.favouritedicon{
    width: 18px;
    height: 20px;
}

.emptycart{
    text-align: left;
    font-size: 1rem;
    margin-left: 9.6rem;
    margin-top: 1rem;
}